@import "../../public/styles.scss";

.search-header {
    width: 100%;
    order: 1;
    flex: 1 0 100%;
    position: relative;
    @media screen and (min-width: $medium) {
        order: 0;
        max-width: 37.39vw;
    }
    & > input {
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid $light-grey;
        padding: 4px 0;
        font-size: 13px;
        &::placeholder {
            color: $light-grey;
        }
        &:focus {
            outline: transparent;
        }
    }
    & > button {
        position: absolute;
        background: transparent;
        border: none;
        right: 0;
        bottom: 0.2rem;
        padding: 0;
    }
}
