@import "../../public/styles.scss";

.header-container {
    width: 100%;
    height: 115px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5rem 27px;
    & > button {
        background: transparent;
        border: none;
    }
    .header-logo {
        width: 145px;
    }
    @media screen and(min-width:$medium) {
        padding: 0 17.7vw;
        height: 80px;
        align-items: center;
        flex-wrap: nowrap;
        .btn-header {
            display: none;
        }
        .header-logo {
            margin-bottom: 0.3rem;
            width: 181px;
        }
    }
}
